@charset "utf-8";

/* ============================== */
/* 
  - Title: Old date theme
  - Autor: Frekvenca spleta s.p. / Frequency Themes
  - Email: info@frekvencaspleta.si
  - Version: 1.00
*/
/* ============================== */


/* Fonts --------------------------------------------------------*/
@font-face {
    font-family: 'sansationbold';
    src: url('../fonts/sansation_bold.eot');
    src: url('../fonts/sansation_bold-.eot#iefix') format('embedded-opentype'),
         url('../fonts/sansation_bold.woff') format('woff'),
         url('../fonts/sansation_bold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'sansationregular';
    src: url('../fonts/sansation_regular.eot');
    src: url('../fonts/sansation_regular-.eot#iefix') format('embedded-opentype'),
         url('../fonts/sansation_regular.woff') format('woff'),
         url('../fonts/sansation_regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}


/******************************* RESET *******************************/

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video 
{margin:0; padding:0; border:0; outline:0; font-size:100%; vertical-align:baseline; background:transparent;}
html {overflow-y: scroll;}
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section {display:block;}
ul {list-style:none;}
blockquote, q {quotes:none;}
blockquote:before, blockquote:after, q:before, q:after {content:''; content:none;}
a {margin:0; padding:0; font-size:100%; vertical-align:baseline; background:transparent;}
ins {background-color:#ff9; color:#000; text-decoration:none;}
mark {background-color:#ff9; color:#000; font-style:italic; font-weight:bold;}
del {text-decoration: line-through;}
abbr[title], dfn[title] {border-bottom:1px dotted; cursor:help;}
table {border-collapse:collapse; border-spacing:0;}
hr {display:block; height:0; background-color: #c7c7c7; border-top: 1px solid #c7c7c7; border-left:0; border-right:0; border-bottom: 1px solid #FFF; margin:1em 0; padding:0;}
*+html hr {height: 2px;}

/* Standar Styles --------------------------------------------------------*/
html,
body {
	width: 100%;
	height: 100%;
}

body {
  font-family: 'sansationregular';
  background: #1d1731 url('../images/bg.jpg') no-repeat center top;
  position: relative;
}

strong {
	font-family: 'sansationbold';
}

.planet  {
	width: 100%;
	height: 100%;
	/*background: url('../images/no_more_IE_2.jpg') no-repeat center bottom;*/
	background: url(../images/no_more_IE_2.jpeg) no-repeat center center fixed; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

/* Content Styles --------------------------------------------------------*/
.wrapper {
  margin: 0 auto;
  width: 960px;
  height: 100%;
  position: relative;
}

.alien {
	position: absolute;
	left: 108px;
	bottom: 315px;
}

.alert {
	text-align: center;
	position: absolute;
	right: 72px;
	bottom: 498px;
}

.alert img {
	margin-bottom: 28px;
}

.alert h1 {
	font-family: 'sansationbold';
	font-size: 35px;
	color: #FFF;
}

.alert span {
	color: #2bffe4;
}

.upgrade {
	position: absolute;
	left: 255px;
	bottom: 128px;
	text-align: center;
	color: #43311d;
	width: 630px;
}

.upgrade h2 {
	color: #eee;
	font-family: "sansationbold";
	font-size: 25px;
	font-weight: normal;
	margin-bottom: 28px;
	margin-left: 77px;
	text-align: left;
}

.upgrade h2 span {
	color: #ba0f37;
}

.upgrade table tr td {
	width: 126px;
	font-family: 'sansationbold';
}

.upgrade table tr td a {
	/*color: #43311d;*/
	color: #ddd;
	font-size: 15px;
	text-decoration: none;
}

.upgrade table tr td a:hover {
	/*color: #000;*/
	color: white;
}

.upgrade table tr td img {
	margin-bottom: 12px;
}

.upgrade table tr td a span {
	display: block;
	font-size: 25px;
}

/* Footer Styles --------------------------------------------------------*/
footer {
	position: absolute;
	width: 494px;
	height: 30px;
	padding-top: 14px;
	background: url('../images/footer.png') no-repeat;
	left: 255px;
	bottom: 47px;
	font-size: 15px;
	text-align: center;
	color: white;
	font-family: 'sansationbold';
}

footer span {
	color: white;
}
/* Localized */