/* --- Items blocks (Shortcode) --- */

.sbnews-recent-post .sbnews-hentry-post {
    line-height: 20px;
    margin-bottom: 10px;
    position: relative;
}

.sbnews-recent-post .sbnews-thumb-img {
  float: left;
  left: 0;
  margin-right: 10px;
  top: 0;
}

.sbnews-recent-post .sbnews-thumb-img img {
  border: 1px solid #cfcfcf;
  float: none;
  padding: 3px !important;
}

.sbnews-recent-post .sbnews-hentry-post div.text {
  margin-left: 70px;
  min-height: 55px;
  position: relative;
}

.sbnews-recent-post a {
  color: #ab5705;
  font-size: 12px;
  font-style: normal;
  display: block;
  line-height: 14px;
}

.sbnews-recent-post a.sbnews-read-more {
	padding-top: 10px;
	color: grey;
}