{* --- Style custom SAXO Theme --- *}

{* --- Slider --- *}
ul.sbslider1 {
	margin: 0;
}
.flexslider {
    margin: 0 0 2em 0;
}

{* --- Footer --- *}
.nav_footer li {
	float: left;
	margin: 0;
}
.nav_footer li a {
	margin: 0 1em;
}