/* -=-=-=-=-=-=-=-=-=-=-=-=-=-=-=- */
/* REQUIRED for core functionality */
/* -=-=-=-=-=-=-=-=-=-=-=-=-=-=-=- */

table.responsive-table {
	max-width: 100%;
	font-size: 1em;
	border: 1px solid lightgrey;
	border-collapse: collapse;
}
table.responsive-table tr:nth-child(odd):hover, table.responsive-table tr:nth-child(even):hover {
	background-color: lightgrey;
}
table.responsive-table thead tr {
	background-color: #2c2c2c !important;
	font-weight: 400;
}
table.responsive-table thead tr th {
	color: white;
	font-size: 1.1em;
	padding: 10px;
}
table.responsive-table td {
	padding: 5px 10px;
	text-align: center;
}
table.responsive-table tr {
	border-bottom: 1px solid lightgrey;
}
table.responsive-table tr:nth-child(odd) {
	background: inherit;
}
table.responsive-table tr:nth-child(2n+1) {
  background: PapayaWhip none repeat scroll 0 0;
}

@media screen and (max-width: 767px) {
    table {
        width: 100% !important;
    }
    thead {
        display: none !important;
    }
    tr:nth-of-type(2n) {
        background-color: inherit !important;
    }
    tr td:first-child {
        /*background-color: lightgrey;*/
    }
    tbody td {
        display: block !important;
        text-align: center !important;
    }
    tbody td:before { 
        content: attr(data-th); 
        display: block !important;
        text-align: center !important;  
    }
    tbody tr:nth-of-type(2n) {
        background-color: white !important;
    }
    th {
        background-color: #efefef !important;
    }
    tbody tr:nth-of-type(1) {
        /*font-weight: bold !important;*/
    }
    table td:last-child {
        /*border-bottom: 2px solid #BD1622 !important;*/
    }
	table.responsive-table td {
		width: 100% !important;
	}
	table.responsive-table tr:hover {
		background: inherit !important;
	}
}

/* -=-=-=-=-=-=-=-=-=-=-=-=-=- */
/* END - Optional - Basic Skin */
/* -=-=-=-=-=-=-=-=-=-=-=-=-=- */