/* --------------------- */
/* Custom style for NEWS */
/* --------------------- */

/* --- Categories List --- */
.sbnews-allcats {
    position:relative;
    width: 250px;
    height: 250px;
	float: left;
	margin: 0 20px 20px 0;
	background-color: #2c5f8e;
}
.sbnews-allcats img {
    width:100%;
    vertical-align:top;
}
.sbnews-allcats:after, .sbnews-allcats:before {
    position:absolute;
    opacity: 1;
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
}
.sbnews-allcats:after {
    content:'\A';
    width:100%; height:100%;
    top:0; left:0;
    background: rgba(0,0,0,0.6);
}
.sbnews-allcats:before {
  box-sizing: border-box;
  color: #fff;
  content: attr(data-content);
  padding: 4px 10px;
  text-align: center;
  width: 100%;
  z-index: 1;
  margin-top: 40%;
}
.sbnews-allcats:hover:after {
    opacity: 0;
	cursor: pointer;
}
.sbnews-allcats:hover:before {
	cursor: pointer;
}

/* --- Items Category --- */
.sbnews {
	box-shadow: 2px 2px 5px 1px lightgrey;
	display: block;
	padding: 20px;
	margin-bottom: 30px;
	position: relative;
}

.sbnews-div-l {
	float: left;
	margin: 0 10px 0 0;
	width: 40%;
}

.sbnews-div-l img {
	border: 1px solid #eee;
}

.sbnews-div-r {
	float: left;
	font-family: Lato,Arial,Tahoma,sans-serif;
	font-size: 1em;
	font-weight: 300;
	line-height: 1.5em;
	margin: 0 0 10px 30px;
	width: 55%;
}

.sbnews-p {
	margin-bottom: 20px;
}

.sbnews-clear-both {
	clear: both;
	display: block;
}

.sbnews-link-item {
	bottom: 0;
	position: absolute;
	display: block;
	margin: 0 0 22px;
}

@media screen and (max-width: 1290px) {
	.sbnews-div-l {
		width: 100%;
	}
	.sbnews-div-r {
		width: 100%;
		margin: 15px 0;
	}
}

/* --- Pagination Bar --- */
.sbnews-pagination {
	background-color: #eee;
	color: black;
	font-size: 1em;
	font-weight: 400;
	margin-bottom: 0;
	overflow: hidden;
	padding: 5px 10px;
	text-align: right;
}

.sbnews-pagination span a {
    background-color: white;
    color: #ddd;
    display: block;
    float: right;
    margin: 0 7px;
    padding: 0 12px 5px 5px;
    width: 20px;
    font-size: 1.7em;
    line-height: 0.8em;
}

.sbnews-pagination span a:hover {
    color: black;
}

.sbnews-pagination div {
	float: right;
	font-size: 0.9em;
	font-weight: 300;
	margin: 0 5px;
}

/* --- Item Single --- */
.sbnews-single-img {
	float: left;
	margin: 0 30px 20px 0;
	max-width: 50%;
	width: 100%;
}
h2.sbnews-single-others-h2 {
	border-bottom: 1px solid lightgrey;
	margin-bottom: 15px;
	margin-top: 40px;
}
.sbnews-single-others {
	width: 100%;
}
.sbnews-othernews {
    position: relative;
	background-color: #2c5f8e;
}
.sbnews-othernews img {
    width:100%;
    vertical-align:top;
}
.sbnews-othernews:after, .sbnews-othernews:before {
    position:absolute;
    opacity: 0.15;
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
}
.sbnews-othernews:after {
    content: '\A';
    width: 100%;
	height: 100%;
    top: 0;
	left: 0;
    background: rgba(0,0,0,0.6);
}
.sbnews-othernews:hover:after {
    opacity: 0;
	cursor: pointer;
}
.sbnews-othernews:hover:before {
	cursor: pointer;
}
.sbnews-othernews span {
	display: block;
	color: white;
	text-shadow: 1px 1px 1px #000;
}
.sbnews-othernews span.title {
	margin-bottom: 2em;
	padding-top: 35%;
	text-align: center;
	width: 100%;
}
.sbnews-othernews span.content {
	text-align: justify;
	padding: 0 1em;
	width: 90%;
}
.sbnews-single-next-prev {
	background-color: #eee;
	color: black;
    font-size: 1.7em;
    font-weight: 400;
    overflow: hidden;
    padding: 5px 20px;
    text-align: right;
	margin: 20px 0;
}
.sbnews-single-next-prev a.next_a {
	float: left;
}
.sbnews-single-next-prev a.prev_a {
	float: right;
}
.sbnews-single-next-prev span a {
	background-color: white;
	color: #ddd;
	display: block;
	float: right;
	font-size: 1.7em;
	line-height: 0.8em;
	margin: 0 7px;
	padding: 0 12px 5px 5px;
	width: 20px;
}
.sbnews-single-next-prev span a:hover {
	color: black;	
}